body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ff7c00;
    color: white;
    margin: 0 auto;
    text-align: center;
}

/* iPhone */
@media only screen and (width: 320px) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    body {
        -webkit-transform: scale(0.667);
        -webkit-transform-origin: top right;
        position: absolute;
        right: 0;
        top: 0;
        width: 480px;
    }
}

/* iPad */
@media only screen and (width: 768px) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    body {
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: top right;
        position: absolute;
        right: 0;
        top: 0;
        width: 1024px;
    }
}






h1 {
    font: 100px bold, sans-serif;
    margin-top: 10%;
    margin-bottom: 0px;
}

h2 {
    font: 20px sans-serif;
    margin-top: 0px;
}

input:focus {
    outline-color: #57d6c7;
    box-shadow: 0 0 1px #57d6c7;
    -moz-box-shadow: 0 0 1px #57d6c7;
    -webkit-box-shadow: 0 0 1px #57d6c7;
}

#shorten {

    border-bottom-width: 0px;
    border-image-width: 0px;
    border-top-width: 0px;
    padding: 8.7px 15px 9px !important;
    font-size: 14px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;   */

}

#url-field {
    width: 130px;
    border-width: 0px;
    padding: 9px 10px 9px 10px !important;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    box-shadow: 0 0 0 1px #ffffff;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
}

a {
    color: #00B7FF;
    font-size: 18px;
}

